{% extends layout %}
{% block content %}
	
	<main class="c-content">
		
		<section class="c-hero">
			<img class="c-hero__parallax-img c-hero__parallax-img--1" src="{{ 'hero-img-1.png' | cdn }}" alt="" data-aos="fade-in">
			<img class="c-hero__parallax-img c-hero__parallax-img--2" src="{{ 'hero-img-2.png' | cdn }}" alt="" data-aos="fade-in">
			<img class="c-hero__parallax-img c-hero__parallax-img--3" src="{{ 'hero-img-3.png' | cdn }}" alt="" data-aos="fade-in">
			<img class="c-hero__parallax-img c-hero__parallax-img--4" src="{{ 'hero-img-4.png' | cdn }}" alt="" data-aos="fade-in">
			<div class="l-container">
				<h1 class="c-hero__title">
					Программа продвижения <br>
					партнерских решений
				</h1>
				<p class="c-hero__text">
					Развитие и&nbsp;поддержка партнеров <br>
					Microsoft в&nbsp;облачном бизнесе
				</p>
			</div>
		</section>
		
		<section class="l-section l-section--white c-about">
			<div class="l-container">
				<h2 class="c-title">
					Что дает программа?
				</h2>
				<div class="c-about__row">
					<div class="c-about__col c-about__col--left">
						<div class="c-about__bg">
							<img src="{{ 'about-bg.png' | cdn }}" alt="">
							<div class="c-about__progress-wrapper" data-aos="zoom-in" data-perc="95">
								<div class="c-about__progress">
									<div class="c-about__progress-grayback"></div>
									<div class="c-about__progress-strips"></div>
								</div>
								<span class="c-about__progress-perc"></span>	
							</div>
						</div>
						<div class="c-btn__wrapper">
							<a class="c-btn c-btn--lg" href="https://events.techdays.ru/ISVs/2017-09/" target="_blank">Подать заявку</a>
						</div>
					</div>
					<div class="c-about__col c-about__col--right">
						<ul class="c-about__list">
							<li class="c-about__item l-flex l-flex__ai-start" data-aos="fade-left" data-aos-delay="0">
								<div class="c-about__icon" data-aos="zoom-in" data-aos-delay="300">
									<img src="{{ 'about-icon-1.png' | cdn }}" width="84" height="71" style="width: 84px; height: 71px;" alt="">
								</div>
								<div class="c-about__content">
									<p class="c-about__title">
										Технологическая поддержка
									</p>
									<p class="c-about__text">
										Сертифицированные архитекторы и&nbsp;инженеры помогут вам настроить, либо мигрировать вашу инфраструктуру в&nbsp;облако Microsoft Azure
									</p>	
								</div>
							</li>
							<li class="c-about__item l-flex l-flex__ai-start" data-aos="fade-left" data-aos-delay="100">
								<div class="c-about__icon" data-aos="zoom-in" data-aos-delay="400">
									<img src="{{ 'about-icon-2.png' | cdn }}" width="84" height="73" style="width: 84px; height: 73px;" alt="">
								</div>
								<div class="c-about__content">
									<p class="c-about__title">
										Помощь в&nbsp;продвижении и&nbsp;продаже вашего решения
									</p>
									<ul class="c-list">
										<li class="c-list__item">
											<p class="c-about__text">
												Интеграция партнерских решений в&nbsp;информационные кампании на&nbsp;таких площадках, как Meduza, CNews, Ведомости, РБК, BusinessFM, с&nbsp;общим охватом аудитории более 7&nbsp;млн;
											</p>
										</li>
										<li class="c-list__item">
											<p class="c-about__text">
												Организация участия партнеров в&nbsp;крупнейших индустриальных мероприятиях;
											</p>
										</li>
										<li class="c-list__item">
											<p class="c-about__text">
												Проведение совместных маркетинговых кампаний для продвижения решения партнера
											</p>
										</li>
									</ul>
								</div>
							</li>
							<li class="c-about__item l-flex l-flex__ai-start" data-aos="fade-left" data-aos-delay="200">
								<div class="c-about__icon" data-aos="zoom-in" data-aos-delay="500">
									<img src="{{ 'about-icon-3.png' | cdn }}" width="84" height="69" style="width: 84px; height: 69px;" alt="">
								</div>
								<div class="c-about__content">
									<p class="c-about__title">
										Помощь в&nbsp;совместных продажах
									</p>
									<p class="c-about__text">
										Мы&nbsp;предлагаем помощь в&nbsp;продвижении вашего решения/сервиса по&nbsp;подходящим для вас маркетинговым каналам, а&nbsp;также его интеграцию в&nbsp;наши собственные маркетинговые кампании и&nbsp;мероприятия.
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		
		<section class="l-section l-section--blue c-results">
			<div class="l-container">
				<div class="c-results__content">
					<h2 class="c-title">
						Результаты программы для партнеров
					</h2>
					<p class="c-subtitle">
						За&nbsp;последний год в&nbsp;программе уже приняли участие более <br>
						60&nbsp;компаний, с&nbsp;которыми мы&nbsp;вместе достигли следующих результатов:
					</p>
				</div>
				<div class="l-row">
					<div class="l-col--md-3 l-col--sm-6 c-results__item" data-aos="fade-up" data-aos-delay="0">
						<div class="c-results__icon" data-aos="zoom-in" data-aos-delay="300">
							<img src="{{ 'results-icon-1.png' | cdn }}" width="86" height="86" alt="">
						</div>
						<p class="c-results__title">
							Сделки
						</p>
						<p class="c-results__text">
							Партнерам было передано более 250 сделок.
						</p>
					</div>
					<div class="l-col--md-3 l-col--sm-6 c-results__item" data-aos="fade-up" data-aos-delay="100">
						<div class="c-results__icon" data-aos="zoom-in" data-aos-delay="400">
							<img src="{{ 'results-icon-2.png' | cdn }}" width="86" height="86" alt="">
						</div>
						<p class="c-results__title">
							Кампании
						</p>
						<p class="c-results__text">
							Проведено более 20&nbsp;совместных маркетинговых кампаний для продвижения партнерских решений.
						</p>
					</div>
					<div class="l-col--md-3 l-col--sm-6 c-results__item" data-aos="fade-up" data-aos-delay="200">
						<div class="c-results__icon" data-aos="zoom-in" data-aos-delay="500">
							<img src="{{ 'results-icon-3.png' | cdn }}" width="86" height="86" alt="">
						</div>
						<p class="c-results__title">
							Вовлеченность
						</p>
						<p class="c-results__text">
							Организовано участие партнеров в&nbsp;более чем 10&nbsp;индустриальных мероприятиях.
						</p>
					</div>
					<div class="l-col--md-3 l-col--sm-6 c-results__item" data-aos="fade-up" data-aos-delay="300">
						<div class="c-results__icon" data-aos="zoom-in" data-aos-delay="600">
							<img src="{{ 'results-icon-4.png' | cdn }}" width="86" height="86" alt="">
						</div>
						<p class="c-results__title">
							Реклама
						</p>
						<p class="c-results__text">
							Интеграция партнерских решений в&nbsp;информационные кампании на&nbsp;площадках с&nbsp;общим охватом аудитории более 7&nbsp;млн человек. <br>
							<span>Meduza, CNews, Ведомости, РБК, BusinessFM и&nbsp;др.</span>
						</p>
					</div>
				</div>
			</div>
		</section>
		
		<section class="l-section l-section--white c-stories" style="background-color: #f6f6f6;">
			<div class="l-container">
				<h2 class="c-title">Истории успеха</h2>
				<div class="c-slider__wrapper">
					<div class="c-slider">
						{%- for item in index.stories %}
						<div class="c-slider__item">
							<a href="{{ item.linkVideo }}" class="c-slider__video" style="background-image: url({{ item.bgVideo | cdn }})" target="_blank">
								<span></span>
							</a>
							<div class="c-slider__logo l-flex">
								<img src="{{ item.logo | cdn }}" width="{{ item.widthLogo }}" height="{{ item.heightLogo }}" style="width: {{ item.widthLogo }}px; height: {{ item.heightLogo }}px" alt="">
							</div>
							<div class="c-slider__content">
								<p class="c-slider__title">
									{{ item.title | safe }}
								</p>
								<p class="c-slider__text">
									{{ item.text | safe }}
								</p>
							</div>
						</div>
						{%- endfor %}
						<div class="c-slider__item c-slider__item-plus">
							<div class="c-slider__video"></div>
							<div class="c-slider__logo"></div>
							<div class="c-slider__content"></div>
							<a class="c-slider__plus" href="https://events.techdays.ru/ISVs/2017-09/" target="_blank"></a>
						</div>
					</div>
				</div>
				<div class="c-btn__wrapper">
					<a class="c-btn" href="https://events.techdays.ru/ISVs/2017-09/" target="_blank">
						Подать заявку
					</a>
				</div>
			</div>
		</section>
		
		<section class="l-section l-section--blue c-scenaries">
			<div class="l-container">
				<h2 class="c-title">Приоритетные сценарии</h2>
				<div class="c-slider__wrapper">
					<div class="c-slider">
						{%- for item in index.scenaries %}
						<div class="c-slider__item">
							<div class="c-slider__logo l-flex">
								<img src="{{ item.logo | cdn }}" width="{{ item.widthLogo }}" height="{{ item.heightLogo }}" style="width: {{ item.widthLogo }}px; height: {{ item.heightLogo }}px" alt="">
							</div>
							<div class="c-slider__content">
								<p class="c-slider__title">
									{{ item.title | safe }}
								</p>
								<p class="c-slider__text">
									{{ item.text | safe }}
								</p>
							</div>
							<a class="c-btn c-btn--sm" href="{{ item.linkHref }}" target="_blank">
								Подробнее
							</a>
						</div>
						{%- endfor %}
					</div>
				</div>
				<div class="l-row">
					<div class="l-col--md-6">
						<div class="c-scenaries__item l-flex">
							<div class="c-scenaries__img-wrapper">
								<img class="c-scenaries__img" src="{{ 'scenaries-icon-1.png' | cdn }}" style="width: {{ item.widthLogo }}px; height: {{ item.heightLogo }}px" alt="">
							</div>
							<p class="c-scenaries__text">
								Посмотреть все возможные сценарии вы&nbsp;можете на&nbsp;
								<a href="http://azureplatform.azurewebsites.net/en-us/" target="_blank">карте Microsoft Azure</a>
							</p>
						</div>
					</div>
					<div class="l-col--md-6">
						<div class="c-scenaries__item l-flex">
							<div class="c-scenaries__img-wrapper">
								<img class="c-scenaries__img" src="{{ 'scenaries-icon-2.png' | cdn }}" style="width: {{ item.widthLogo }}px; height: {{ item.heightLogo }}px" alt="">
							</div>
							<p class="c-scenaries__text">
								Нужна техническая документация? <br>
								<a href="https://docs.microsoft.com/ru-ru/azure/" target="_blank">Смотрите тут</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="l-section l-section--white">
			<div class="l-container">
				<h2 class="c-title">FAQ</h2>
				<div class="c-accordion">
					{%- for item in index.accordion %}
					<div class="c-accordion__item">
						<button class="c-accordion__heading">
							<span class="c-accordion__icon"></span>
							{{ item.heading | safe }}
						</button>
						<div class="c-accordion__content">
							{{ item.content | safe }}
						</div>
					</div>
					{%- endfor %}
					<div class="c-accordion__item">
						<button class="c-accordion__heading">
							<span class="c-accordion__icon"></span>
							Какие есть варианты приобретения и&nbsp;оплаты сервисов в&nbsp;Microsoft Azure?
						</button>
						<div class="c-accordion__content c-table__wrapper">
							<p class="c-accordion__text">
								Мы&nbsp;собрали все варианты приобретения Azure в&nbsp;наглядной таблице для Вашего удобства, чтобы&nbsp;Вы могли выбрать наиболее подходящий.
							</p>
							<table class="c-table">
								<thead>
									<tr>
										<td>
											Варианты приобретения Azure
										</td>
										<td>
											Pay-As-You-Go покупка на&nbsp;сайте microsoft.com 
										</td>
										<td>
											Корпоративное соглашение Enterprise Agreement
										</td>
										<td>
											Соглашение Open License
										</td>
										<td>
											CSP (соглашение с&nbsp;сервисным центром)
										</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											Тип оплаты
										</td>
										<td>
											Постоплата
										</td>
										<td>
											Предоплата
											<span>годовое обязательство</span>
										</td>
										<td>
											Предоплата
											<span>покупка ключевой активации</span>
										</td>
										<td>
											Постоплата
										</td>
									</tr>
									<tr>
										<td>
											Способ оплаты
										</td>
										<td>
											Банковская карта
										</td>
										<td>
											Оплата по&nbsp;выставленному счету
										</td>
										<td>
											Оплата по&nbsp;выставленному счету
										</td>
										<td>
											Оплата по&nbsp;выставленному счету
										</td>
									</tr>
									<tr>
										<td>
											Срок контракта
										</td>
										<td>
											Помесячная оплата
										</td>
										<td>
											Трехлетний контракт
											<span>ежегодный пересмотр</span>
										</td>
										<td>
											12 месяцев
											<span>с&nbsp;момента активации ключа</span>
										</td>
										<td>
											Помесячная оплата
										</td>
									</tr>
									<tr>
										<td>
											Фиксация стоимости
										</td>
										<td class="c-table__td-icon">
											Нет
											<span class="c-table__icon c-table__icon--false"></span>
										</td>
										<td class="c-table__td-icon">
											Да, руб. на&nbsp;три года
											<span class="c-table__icon c-table__icon--true"></span>
										</td>
										<td class="c-table__td-icon">
											Нет
											<span class="c-table__icon c-table__icon--false"></span>
										</td>
										<td class="c-table__td-icon">
											Нет
											<span class="c-table__icon c-table__icon--false"></span>
										</td>
									</tr>
									<tr>
										<td>
											Доступность сервисов платформы
										</td>
										<td class="c-table__td-icon">
											Все
											<span class="c-table__icon c-table__icon--true"></span>
										</td>
										<td class="c-table__td-icon">
											Все
											<span class="c-table__icon c-table__icon--true"></span>
										</td>
										<td class="c-table__td-icon">
											Все
											<span class="c-table__icon c-table__icon--true"></span>
										</td>
										<td>
											Уточняйте у&nbsp;сервис-провайдеров
										</td>
									</tr>
									<tr>
										<td>
											Программа скидок
										</td>
										<td class="c-table__td-icon">
											Нет
											<span class="c-table__icon c-table__icon--false"></span>
										</td>
										<td class="c-table__td-icon">
											Есть
											<span class="c-table__icon c-table__icon--true"></span>
										</td>
										<td class="c-table__td-icon">
											Нет
											<span class="c-table__icon c-table__icon--false"></span>
										</td>
										<td class="c-table__td-icon">
											Есть
											<span class="c-table__icon c-table__icon--true"></span>
										</td>
									</tr>
									<tr>
										<td>
											Минимальная стоимость контракта
										</td>
										<td class="c-table__td-icon">
											Нет
											<span class="c-table__icon c-table__icon--false"></span>
										</td>
										<td class="c-table__td-icon">
											$12&nbsp;000&nbsp;в год
											<span class="c-table__icon c-table__icon--true"></span>
										</td>
										<td class="c-table__td-icon">
											$100
											<span class="c-table__icon c-table__icon--true"></span>
										</td>
										<td class="c-table__td-icon">
											Нет
											<span class="c-table__icon c-table__icon--false"></span>
										</td>
									</tr>
									<tr>
										<td>
											Техническая поддержка
											<span>
												Дополнительно к&nbsp;услугам, включенным в&nbsp;подписку
												<a href="#">Подробнее здесь</a>
											</span>
										</td>
										<td>
											Приобретение плана поддержки online
										</td>
										<td>
											Приобретение плана поддержки у&nbsp;партнера
											<span>включается в&nbsp;соглашение</span>
										</td>
										<td>
											Приобретение поддержки online
										</td>
										<td>
											Поддержка от&nbsp;сервис-провайдера	
										</td>
									</tr>
									<tr>
										<td>
											Преимущества
										</td>
										<td>
											Быстрое оформление на&nbsp;сайте
										</td>
										<td>
											Специальные промо, выделенный аккаунт
										</td>
										<td>
											Покупка ключей у&nbsp;поставщика, предоставляющего вам лицензии на&nbsp;другие ИТ-продукты
										</td>
										<td>
											Сервис-провайдеры оказывают консультации по&nbsp;архитектуре решений, помощь с&nbsp;миграцией и&nbsp;разработкой, а&nbsp;также продвижением решений
										</td>
									</tr>
									<tr>
										<td>
											Рассчитать стоимость
										</td>
										<td>
											<a href="https://azure.microsoft.com/ru-ru/pricing/calculator/" target="_blank">Калькулятор цен</a>
										</td>
										<td>
											<a href="https://partner.microsoft.com/ru-ru/licensing/lsp" target="_blank">Обратитесь к&nbsp;партнеру</a>
										</td>
										<td>
											<a href="https://www.microsoft.com/ru-RU/solution- providers/search" target="_blank">Обратитесь к&nbsp;поставщику</a>
										</td>
										<td>
											<a href="mailto:isvrus@microsoft.com">Обратитесь к&nbsp;нам</a>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="c-table-mob">
								{%- for item in index.table  %}
								<div class="c-table-mob__item">
									<div class="c-table-mob__row-head">
										<p class="c-table-mob__col-name">Варианты приобретения Azure</p>
										<p class="c-table-mob__col-value">{{ item.title | safe }}</p>
									</div>
									<div class="c-table-mob__row">
										<p class="c-table-mob__col-name">Тип оплаты</p>
										<p class="c-table-mob__col-value">{{ item.type | safe }}</p>
									</div>
									<div class="c-table-mob__row">
										<p class="c-table-mob__col-name">Способ оплаты</p>
										<p class="c-table-mob__col-value">{{ item.method | safe }}</p>
									</div>
									<div class="c-table-mob__row">
										<p class="c-table-mob__col-name">Срок контракта</p>
										<p class="c-table-mob__col-value">{{ item.date | safe }}</p>
									</div>
									<div class="c-table-mob__row">
										<p class="c-table-mob__col-name">Фиксация стоимости</p>
										<p class="c-table-mob__col-value c-table__td-icon">{{ item.fixation | safe }}</p>
									</div>
									<div class="c-table-mob__row">
										<p class="c-table-mob__col-name">Доступность сервисов платформы</p>
										<p class="c-table-mob__col-value c-table__td-icon">{{ item.availability | safe }}</p>
									</div>
									<div class="c-table-mob__row">
										<p class="c-table-mob__col-name">Программа скидок</p>
										<p class="c-table-mob__col-value c-table__td-icon">{{ item.programm | safe }}</p>
									</div>
									<div class="c-table-mob__row">
										<p class="c-table-mob__col-name">Минимальная стоимость контракта</p>
										<p class="c-table-mob__col-value c-table__td-icon">{{ item.cost | safe }}</p>
									</div>
									<div class="c-table-mob__row">
										<p class="c-table-mob__col-name">Техническая поддержка<span>Дополнительно к&nbsp;услугам, включенным в&nbsp;подписку<a href="#">Подробнее здесь</a></span></p>
										<p class="c-table-mob__col-value">{{ item.support | safe }}</p>
									</div>
									<div class="c-table-mob__row">
										<p class="c-table-mob__col-name">Преимущества</p>
										<p class="c-table-mob__col-value">{{ item.features | safe }}</p>
									</div>
									<div class="c-table-mob__row">
										<p class="c-table-mob__col-name">Рассчитать стоимость</p>
										<p class="c-table-mob__col-value">{{ item.calc | safe }}</p>
									</div>
								</div>
								{%- endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="c-btn__wrapper">
					<a class="c-btn" href="https://events.techdays.ru/ISVs/2017-09/" target="_blank">
						Подвать заявку
					</a>
				</div>
			</div>
		</section>

		<section class="c-contacts">
			<div class="l-container">
				<div class="l-row">
					<div class="l-col--sm-6 c-contacts__item">
						<p class="c-contacts__heading">
							Задайте вопрос эксперту Microsoft по&nbsp;программе
						</p>
						<div class="c-contacts__social-wrapper">
							<a class="c-contacts__social" style="background-image: url({{ 'tm-icon.png' | cdn }})" href="#"></a>
							<a class="c-contacts__social" style="background-image: url({{ 'gm-icon.png' | cdn }})" href="#"></a>
						</div>
					</div>
					<div class="l-col--sm-6 c-contacts__item">
						<p class="c-contacts__heading">
							Присоединяйтесь к&nbsp;нашим группам в&nbsp;социальных сетях
						</p>
						<div class="c-contacts__social-wrapper">
							<a class="c-contacts__social" style="background-image: url({{ 'vk-icon.png' | cdn }})" href="#"></a>
							<a class="c-contacts__social" style="background-image: url({{ 'fb-icon.png' | cdn }})" href="#"></a>
							<a class="c-contacts__social" style="background-image: url({{ 'tw-icon.png' | cdn }})" href="#"></a>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>

{% endblock %}