{% extends layout %}
{% block content %}
	
	<main class="c-content">
		
		<section class="c-hero">
			<div class="l-container">
				<h1 class="c-hero__title">
					Программа продвижения <br>
					партнерских решений
				</h1>
				<p class="c-hero__text">
					Развитие и&nbsp;поддержка партнеров <br>
					Microsoft в&nbsp;облачном бизнесе
				</p>
			</div>
		</section>
		
		<section class="l-section l-section--white c-about">
			<div class="l-container">
				<h2 class="c-title">
					Что дает программа?
				</h2>
				<div class="c-about__row">
					<div class="c-about__col c-about__col--left">
						<a class="c-btn" href="#">Подать заявку</a>
					</div>
					<div class="c-about__col c-about__col--right">
						<ul class="c-about__list">
							<li class="c-about__item l-flex l-flex__ai-start">
								<div class="c-about__icon">
									<img src="{{ 'about-icon-1.png' | img_asset }}" width="84" height="71" alt="">
								</div>
								<div class="c-about__content">
									<p class="c-about__title">
										Технологическая поддержка
									</p>
									<p class="c-about__text">
										Сертифицированные архитекторы и&nbsp;инженеры помогут вам настроить, либо мигрировать вашу инфраструктуру на&nbsp;облако Microsoft Azure
									</p>	
								</div>
							</li>
							<li class="c-about__item l-flex l-flex__ai-start">
								<div class="c-about__icon">
									<img src="{{ 'about-icon-2.png' | img_asset }}" width="84" height="73" alt="">
								</div>
								<div class="c-about__content">
									<p class="c-about__title">
										Помощь в&nbsp;продвижении и&nbsp;продаже вашего решения
									</p>
									<ul class="c-list">
										<li class="c-list__item">
											<p class="c-about__text">
												Интеграция партнерских решений в&nbsp;информационные компании на&nbsp;таких площадках как: Meduza, CNews, Ведомости, РБК, BusinessFM с&nbsp;общим охватом аудитории более 7&nbsp;млн;
											</p>
										</li>
										<li class="c-list__item">
											<p class="c-about__text">
												Организация участия партнеров в&nbsp;крупнейших индустриальных мероприятиях;
											</p>
										</li>
										<li class="c-list__item">
											<p class="c-about__text">
												Проведение совместных маркетинговых кампаний для продвижения решения партнера
											</p>
										</li>
									</ul>
								</div>
							</li>
							<li class="c-about__item l-flex l-flex__ai-start">
								<div class="c-about__icon">
									<img src="{{ 'about-icon-3.png' | img_asset }}" width="84" height="69" alt="">
								</div>
								<div class="c-about__content">
									<p class="c-about__title">
										Помощь в&nbsp;совместных продажах
									</p>
									<p class="c-about__text">
										Мы&nbsp;предлагаем помощь в&nbsp;продвижении вашего решения/сервиса по&nbsp;подходящим для вас маркетинговым каналам, а&nbsp;также его интеграцию в&nbsp;наши собственные маркетинговые кампании и&nbsp;мероприятия.
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		
		<section class="l-section l-section--blue c-results">
			<div class="l-container">
				<div class="c-results__content">
					<h2 class="c-title">
						Результаты программы для партнеров
					</h2>
					<p class="c-subtitle">
						За&nbsp;последний год в&nbsp;программе уже приняли участие более <br>
						60&nbsp;компаний, с&nbsp;которыми мы&nbsp;вместе достигли следующих результатов:
					</p>
				</div>
				<div class="l-row">
					<div class="l-col--md-3 c-results__item">
						<div class="c-results__icon">
							<img src="{{ 'results-icon-1.png' | img_asset }}" width="86" height="86" alt="">
						</div>
						<p class="c-results__title">
							Сделки
						</p>
						<p class="c-results__text">
							Партнерам было передано более 250 сделок.
						</p>
					</div>
					<div class="l-col--md-3 c-results__item">
						<div class="c-results__icon">
							<img src="{{ 'results-icon-2.png' | img_asset }}" width="86" height="86" alt="">
						</div>
						<p class="c-results__title">
							Кампании
						</p>
						<p class="c-results__text">
							Проведено более 20&nbsp;совместных маркетинговых кампания для продвижения партнерских решений.
						</p>
					</div>
					<div class="l-col--md-3 c-results__item">
						<div class="c-results__icon">
							<img src="{{ 'results-icon-3.png' | img_asset }}" width="86" height="86" alt="">
						</div>
						<p class="c-results__title">
							Вовлеченность
						</p>
						<p class="c-results__text">
							Организовано участие партнеров в&nbsp;более чем 10&nbsp;индустриальных мероприятиях.
						</p>
					</div>
					<div class="l-col--md-3 c-results__item">
						<div class="c-results__icon">
							<img src="{{ 'results-icon-4.png' | img_asset }}" width="86" height="86" alt="">
						</div>
						<p class="c-results__title">
							Реклама
						</p>
						<p class="c-results__text">
							Интеграция партнерских решений в&nbsp;информационные кампании на&nbsp;площадках с&nbsp;общим охватом аудитории более 7&nbsp;млн человек. <br>
							<span>Meduza, CNews, Ведомости, РБК, BusinessFM и&nbsp;др.</span>
						</p>
					</div>
				</div>
			</div>
		</section>
		
		<section class="l-section l-section--white" style="background-color: #f6f6f6;">
			<div class="l-container">
				<h2 class="c-title">Истории успеха</h2>
				<div class="c-slider">
					{%- for item in index.stories %}
					<div class="c-slider__item">
						<a href="{{ item.link-video }}" class="c-slider__video" style="background-image: url({{ item.bgVideo | img_asset }})">
							<span></span>
						</a>
						<div class="c-slider__logo l-flex">
							<img src="{{ item.logo | img_asset }}" width="{{ item.widthLogo }}" height="{{ item.heightLogo }}" alt="">
						</div>
						<div class="c-slider__content">
							<p class="c-slider__title">
								{{ item.title | safe }}
							</p>
							<p class="c-slider__text">
								{{ item.text | safe }}
							</p>
						</div>
					</div>
					{%- endfor %}
				</div>	
			</div>
		</section>

	</main>

{% endblock %}