.c-hero {
	position: relative;
  padding: 71px 0 113px;
  background: url('../images/hero-bg.jpg') no-repeat center;
  background-size: cover;

	&__parallax {

		&-img {
			position: absolute;
			top: 0;

			&--1 {
  			top: 44%;
  			left: 2.8%;
			}

			&--2 {
		    top: 55.7%;
    		left: 41.7%;
			}

			&--3 {
		    top: 15.5%;
        right: 25%;
			}

			&--4 {
		    top: 44%;
        right: 4.5%;
			}
		}
	}

	&__title {
        position: relative;
        z-index: 2;
		margin-bottom: round(42/60em, 3);
		.fz(60, 70);
		font-weight: 100;
		letter-spacing: -.005em;
		color: #fff;

		@media screen and (max-width: @screen-lg) {
			.fz(46, 54);
		}
	} 

	&__text {
        position: relative;
        z-index: 2;
		.fz(24, 32);
		font-weight: 300;
		color: #fff;

		@media screen and (max-width: @screen-lg) {
			.fz(20, 26);
		}
	}
}

@keyframes shake-hard {
    2% {
        transform: translate(-4px, 2px);
    }

    4% {
        transform: translate(-8px, 10px);
    }

    6% {
        transform: translate(2px, -6px);
    }

    8% {
        transform: translate(10px, 10px);
    }

    10% {
        transform: translate(8px, 4px);
    }

    12% {
        transform: translate(2px, 6px);
    }

    14% {
        transform: translate(10px, -8px);
    }

    16% {
        transform: translate(-9px, -5px);
    }

    18% {
        transform: translate(9px, -9px);
    }

    20% {
        transform: translate(2px, 1px);
    }

    22% {
        transform: translate(-4px, 1px);
    }

    24% {
        transform: translate(-7px, 4px);
    }

    26% {
        transform: translate(-6px, -1px);
    }

    28% {
        transform: translate(6px, 0px);
    }

    30% {
        transform: translate(-6px, 6px);
    }

    32% {
        transform: translate(5px, 7px);
    }

    34% {
        transform: translate(-5px, 5px);
    }

    36% {
        transform: translate(-8px, -3px);
    }

    38% {
        transform: translate(-3px, 5px);
    }

    40% {
        transform: translate(8px, -4px);
    }

    42% {
        transform: translate(2px, -8px);
    }

    44% {
        transform: translate(5px, -7px);
    }

    46% {
        transform: translate(8px, -4px);
    }

    48% {
        transform: translate(1px, -4px);
    }

    50% {
        transform: translate(-7px, 7px);
    }

    52% {
        transform: translate(7px, -5px);
    }

    54% {
        transform: translate(10px, -5px);
    }

    56% {
        transform: translate(-1px, -8px);
    }

    58% {
        transform: translate(2px, -2px);
    }

    60% {
        transform: translate(-8px, 0px);
    }

    62% {
        transform: translate(9px, -5px);
    }

    64% {
        transform: translate(8px, -9px);
    }

    66% {
        transform: translate(-6px, -7px);
    }

    68% {
        transform: translate(-1px, -4px);
    }

    70% {
        transform: translate(10px, -8px);
    }

    72% {
        transform: translate(3px, 6px);
    }

    74% {
        transform: translate(-1px, 8px);
    }

    76% {
        transform: translate(-3px, 7px);
    }

    78% {
        transform: translate(9px, 0px);
    }

    80% {
        transform: translate(9px, -5px);
    }

    82% {
        transform: translate(9px, 8px);
    }

    84% {
        transform: translate(-3px, -3px);
    }

    86% {
        transform: translate(-8px, -1px);
    }

    88% {
        transform: translate(5px, 2px);
    }

    90% {
        transform: translate(5px, 9px);
    }

    92% {
        transform: translate(7px, 5px);
    }

    94% {
        transform: translate(8px, 8px);
    }

    96% {
        transform: translate(2px, 10px);
    }

    98% {
        transform: translate(-5px, 10px);
    }

    0%,100% {
        transform: translate(0, 0);
    }
}

@keyframes shake-horizontal {
    2% {
        transform: translate(4px, 0);
    }

    4% {
        transform: translate(8px, 0);
    }

    6% {
        transform: translate(7px, 0);
    }

    8% {
        transform: translate(2px, 0);
    }

    10% {
        transform: translate(0px, 0);
    }

    12% {
        transform: translate(7px, 0);
    }

    14% {
        transform: translate(-6px, 0);
    }

    16% {
        transform: translate(-5px, 0);
    }

    18% {
        transform: translate(-8px, 0);
    }

    20% {
        transform: translate(-9px, 0);
    }

    22% {
        transform: translate(9px, 0);
    }

    24% {
        transform: translate(-8px, 0);
    }

    26% {
        transform: translate(-8px, 0);
    }

    28% {
        transform: translate(2px, 0);
    }

    30% {
        transform: translate(10px, 0);
    }

    32% {
        transform: translate(6px, 0);
    }

    34% {
        transform: translate(-6px, 0);
    }

    36% {
        transform: translate(7px, 0);
    }

    38% {
        transform: translate(-9px, 0);
    }

    40% {
        transform: translate(-4px, 0);
    }

    42% {
        transform: translate(-4px, 0);
    }

    44% {
        transform: translate(1px, 0);
    }

    46% {
        transform: translate(-2px, 0);
    }

    48% {
        transform: translate(-4px, 0);
    }

    50% {
        transform: translate(-2px, 0);
    }

    52% {
        transform: translate(10px, 0);
    }

    54% {
        transform: translate(-9px, 0);
    }

    56% {
        transform: translate(0px, 0);
    }

    58% {
        transform: translate(-8px, 0);
    }

    60% {
        transform: translate(-4px, 0);
    }

    62% {
        transform: translate(7px, 0);
    }

    64% {
        transform: translate(-1px, 0);
    }

    66% {
        transform: translate(-7px, 0);
    }

    68% {
        transform: translate(1px, 0);
    }

    70% {
        transform: translate(-5px, 0);
    }

    72% {
        transform: translate(0px, 0);
    }

    74% {
        transform: translate(-4px, 0);
    }

    76% {
        transform: translate(5px, 0);
    }

    78% {
        transform: translate(2px, 0);
    }

    80% {
        transform: translate(2px, 0);
    }

    82% {
        transform: translate(-1px, 0);
    }

    84% {
        transform: translate(9px, 0);
    }

    86% {
        transform: translate(-6px, 0);
    }

    88% {
        transform: translate(8px, 0);
    }

    90% {
        transform: translate(3px, 0);
    }

    92% {
        transform: translate(10px, 0);
    }

    94% {
        transform: translate(-4px, 0);
    }

    96% {
        transform: translate(-6px, 0);
    }

    98% {
        transform: translate(7px, 0);
    }

    0%,100% {
        transform: translate(0, 0);
    }
}

@keyframes shake-vertical {
    2% {
        transform: translate(0, -2px);
    }

    4% {
        transform: translate(0, -2px);
    }

    6% {
        transform: translate(0, 2px);
    }

    8% {
        transform: translate(0, 9px);
    }

    10% {
        transform: translate(0, 3px);
    }

    12% {
        transform: translate(0, 4px);
    }

    14% {
        transform: translate(0, -8px);
    }

    16% {
        transform: translate(0, -8px);
    }

    18% {
        transform: translate(0, -6px);
    }

    20% {
        transform: translate(0, 5px);
    }

    22% {
        transform: translate(0, 5px);
    }

    24% {
        transform: translate(0, -8px);
    }

    26% {
        transform: translate(0, -4px);
    }

    28% {
        transform: translate(0, 2px);
    }

    30% {
        transform: translate(0, -1px);
    }

    32% {
        transform: translate(0, 1px);
    }

    34% {
        transform: translate(0, -7px);
    }

    36% {
        transform: translate(0, -7px);
    }

    38% {
        transform: translate(0, 2px);
    }

    40% {
        transform: translate(0, -1px);
    }

    42% {
        transform: translate(0, 8px);
    }

    44% {
        transform: translate(0, -5px);
    }

    46% {
        transform: translate(0, -8px);
    }

    48% {
        transform: translate(0, -1px);
    }

    50% {
        transform: translate(0, 1px);
    }

    52% {
        transform: translate(0, 1px);
    }

    54% {
        transform: translate(0, -4px);
    }

    56% {
        transform: translate(0, 4px);
    }

    58% {
        transform: translate(0, 3px);
    }

    60% {
        transform: translate(0, -7px);
    }

    62% {
        transform: translate(0, 4px);
    }

    64% {
        transform: translate(0, 0px);
    }

    66% {
        transform: translate(0, -5px);
    }

    68% {
        transform: translate(0, -2px);
    }

    70% {
        transform: translate(0, -4px);
    }

    72% {
        transform: translate(0, 9px);
    }

    74% {
        transform: translate(0, -3px);
    }

    76% {
        transform: translate(0, -4px);
    }

    78% {
        transform: translate(0, -9px);
    }

    80% {
        transform: translate(0, -8px);
    }

    82% {
        transform: translate(0, -6px);
    }

    84% {
        transform: translate(0, 9px);
    }

    86% {
        transform: translate(0, -4px);
    }

    88% {
        transform: translate(0, -9px);
    }

    90% {
        transform: translate(0, -2px);
    }

    92% {
        transform: translate(0, 7px);
    }

    94% {
        transform: translate(0, -1px);
    }

    96% {
        transform: translate(0, 7px);
    }

    98% {
        transform: translate(0, -1px);
    }

    0%,100% {
        transform: translate(0, 0);
    }
}

@keyframes shake-chunk {
    2% {
        transform: translate(-10px, 8px) rotate(5deg)
    }

    4% {
        transform: translate(-6px, 14px) rotate(0deg)
    }

    6% {
        transform: translate(-4px, -6px) rotate(-13deg)
    }

    8% {
        transform: translate(-1px, -12px) rotate(4deg)
    }

    10% {
        transform: translate(-2px, 10px) rotate(-14deg)
    }

    12% {
        transform: translate(3px, -6px) rotate(12deg)
    }

    14% {
        transform: translate(15px, 9px) rotate(-4deg)
    }

    16% {
        transform: translate(3px, 9px) rotate(-2deg)
    }

    18% {
        transform: translate(-11px, -6px) rotate(11deg)
    }

    20% {
        transform: translate(2px, 11px) rotate(6deg)
    }

    22% {
        transform: translate(-2px, -11px) rotate(2deg)
    }

    24% {
        transform: translate(-5px, -2px) rotate(-13deg)
    }

    26% {
        transform: translate(13px, -13px) rotate(11deg)
    }

    28% {
        transform: translate(-10px, -12px) rotate(-1deg)
    }

    30% {
        transform: translate(5px, 3px) rotate(-14deg)
    }

    32% {
        transform: translate(-4px, 1px) rotate(-13deg)
    }

    34% {
        transform: translate(-14px, -8px) rotate(2deg)
    }

    36% {
        transform: translate(8px, -12px) rotate(13deg)
    }

    38% {
        transform: translate(13px, -14px) rotate(-10deg)
    }

    0%,40%,100% {
        transform: translate(0, 0);
    }
}