.c-hero {
	position: relative;
  padding: 71px 0 113px;
  background: url('../images/hero-bg.jpg') no-repeat center;
  background-size: cover;
  
  @media screen and (max-width: @screen-md) {
    background-image: url('../images/hero-bg-mob.jpg');
  }

  @media screen and (max-width: @screen-xs-max) {
    padding-top: 40px;
    padding-bottom: 53px;
  }

	&__parallax {

		&-img {
			position: absolute;
			top: 0;

			&--1 {
  			top: 44%;
  			left: 2.8%;

        @media screen and (max-width: @screen-xl) {
          display: none;
        }
			}

			&--2 {
		    top: 55.7%;
    		left: 41.7%;

        @media screen and (max-width: @screen-md) {
          display: none;
        }
			}

			&--3 {
		    top: 15.5%;
        right: 25%;

        @media screen and (max-width: @screen-lg-max) {
          right: 10%;
        }

        @media screen and (max-width: @screen-md) {
          display: none;
        }
			}

			&--4 {
		    top: 44%;
        right: 4.5%;

        @media screen and (max-width: @screen-lg-max) {
          display: none;
        }
			}
		}
	}

	&__title {
    position: relative;
    z-index: 2;
		margin-bottom: round(42/60em, 3);
		.fz(60, 70);
		font-weight: 100;
		letter-spacing: -.005em;
		color: #fff;

		@media screen and (max-width: @screen-lg) {
			.fz(46, 54);
		}

    @media screen and (max-width: @screen-xs-max) {
      .fz(32, 38);
    }
	} 

	&__text {
    position: relative;
    z-index: 2;
		.fz(24, 32);
		font-weight: 300;
		color: #fff;

		@media screen and (max-width: @screen-lg) {
			.fz(20, 26);
		}

    @media screen and (max-width: @screen-xs-max) {
      .fz(18, 23);
    }
	}
}