.c-results {
	
	&__content {
		margin-bottom: 85px;
	}

	&__item {
		text-align: center;
	}
	
	&__icon {
		margin-bottom: 24px;
	}

	&__title {
		margin-bottom: round(15/30em, 3);
		.fz(30, 36);
		font-weight: 300;
		color: #98eaff;
	}

	&__text {
		.fz(19, 25);
		font-weight: 300;
		color: #fff;

		span {
			color: #98eaff;
		}
	}
}