.c-scenaries {
	
	.c-slider__logo {
		height: 170px;
	}
	
	.c-btn {
		margin-bottom: 38px;
	}
	
	.c-slider__content {
		min-height: 173px;
	}

	.c-slider__text {
		padding-bottom: round(22/16em, 3);
	}


	&__item {
		padding: 25px 30px;
		border: 1px solid #38afec;

		@media screen and (max-width: @screen-lg) {
			padding: 20px 25px;
		}

		@media screen and (max-width: @screen-md) {
			margin-bottom: 30px;
		}

		@media screen and (max-width: @screen-xs-max) {
			padding: 10px 15px;
		}
	}

	.l-col--md-6 {
			&:last-child {
				.c-scenaries__item {
					margin-bottom: 0;
				}
			}
		}
	
	&__img {
		@media screen and (max-width: @screen-xs-max) {
			width: 100%;
		}

		&-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-right: 25px;

			@media screen and (max-width: @screen-xs-max) {
				flex-shrink: 0;
				width: 20%;
			}
		}
	}

	&__text {
		display: inline-block;
		vertical-align: top;
		.fz(24, 32);
		font-weight: 100;
		letter-spacing: -.01em;
		color: #fff;

		@media screen and (max-width: @screen-lg) {
			.fz(20, 26);
		}

		@media screen and (max-width: @screen-xs-max) {
			.fz(18, 23);
		}

		a {
			color: #b8ff16;

			&:hover {
				color: darken(#b8ff16, 10%);
				text-decoration: none;
			}
		}
	}
}