.l-section {
	padding-top: 80px;
	padding-bottom: 110px;

	&--white {
		background-color: #fff;

		.c-title {
			color: #0866b4;
		}
	}

	&--blue {
		background-color: @color-bg;

		.c-title {
			color: #fff;
		}

		.c-subtitle {
			color: #fff;
		}
	}
}